.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
    .status {
        margin-bottom: 10px;
    }
}

.history-toggle {
    display: flex;
    align-items: center;

    & > span {
        margin-left: 10px;
    }
}

ol,
ul {
    padding-left: 30px;

    li.selected,
    li.selected button {
        font-weight: bold;
    }
}
